Querying the firewall's rulebase for rules with:
Source Zone is 'any' or '{{ untrust_zone_var }}'. 
Policy Action set to 'allow'


Policies Found:

{% for rule  in full_output_as_object %}
Rule Name = {{ rule.entry["@name"] }}
Application = {{ rule.entry.application }}
Service = {{ rule.entry.service }}
{% endfor %}

Here is the full output:
{{ full_output_as_object | to_json }}
