<div>
<h4 class">Open Port Query Report</h4>
<h5>Query Parameters</h5>
<dl class="dl-horizontal">
    <dt>Firewall IP</dt>
    <dd>{{ target_var }}</dd>
    <dt>Source Zone</dt>
    <dd>'any' or '{{ untrust_zone_var }}'</dd>
    <dt>Policy Action</dt>
    <dd>'allow'</dd>
</dl>

<h5>Rulebase Matches Found</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Rule Name</th>
            <th>Application</th>
            <th>Service</th>
        </tr>
    </thead>
    <tbody>
        {% for rule  in full_output_as_object %}
        <tr>
            <td>{{ rule.entry["@name"] }}</td>
            <td>{{ rule.entry.application }}</td>
            <td>{{ rule.entry.service }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5>Full JSON Rulebase Output</h5>
{{ full_output_as_object | to_json }}
</div>